body{
    background-image: url(1.jpg);
    background-size: 100%;
    height: 20;
    display: flex;
    align-items: center;
    justify-content:center ;
    min-height: 100vh;

    
}

.kuvat{
    margin: 30px auto;
    width: 97%;
}

.text-box{
    color: #fff;


}

img{
    max-width: 200px;
    border:3px solid #fff;
    border-radius: 10px;
    float: left;
    margin-right: 10px;
}

.text h2{
    font-size: 10;
}

.text h1{
    text-align: center;
}

.text{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    width: 750px;
    height: 430px;
    margin: 200 auto;
    

}



/*glass effect*/
.glass{
    background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    
}